body {
  background-color: lightblue;
}

button {
  color: black;
  text-align: center;
  border-radius: 1%;
}

p {
  font-family: verdana;
  font-size: 12px;
}

.list {
  color: green;
}

.done {
  text-decoration: line-through;
  color: darkseagreen;
}

.noTdone {
  text-decoration: none;
  color: green;
}

.error {
}
